* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Gantari', sans-serif;
}


.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-content {
    flex-grow: 1; 
    display: flex;
    margin-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: calc(100vh - 60px);
}
.dashboard-container {
    padding-top: 24px;
}
.dashboard-section1 {
    display: flex;
}
.outlet-container {
    transition: margin-left 0.5s ease;
}
.outlet-container.open {
    margin-left: 240px;
}
.outlet-container.closed {
    margin-left: 60px;
}
  
  



.totalearnings-container {
    border: 1px solid #438eff1a;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px;
}
.totalearnings-container.open {
    width: 240px;
}
.totalearnings-container.closed {
    width: 295px;
}
.balance-content {
    display: flex;
    justify-content: space-between;
}
.available-balance p {
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
}
.available-balance h4 {
    padding-block: 18px;
    color: rgba(20, 24, 33, 0.75);
    font-size: 22px;
    font-weight: 600;
}
.dollar-icon {
    background-color: rgb(206, 250, 225);
    padding: 12px;
    height: 25px;
    border-radius: 5px;
}
.lastweek-context {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.lastweek-context h5 {
    padding-right: 10px;
    color: rgb(45, 203, 115);
    font-size: 12px;
}
.lastweek-context p {
    font-size: 16px;
    color: rgba(20, 24, 33, 0.75);
    letter-spacing: 0.5;
}






.orders-container {
    border: 1px solid #438eff1a;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px;
    margin-top: 24px;
    transition: width 0.5s ease-in-out;
}
.orders-container.open {
    width: 240px;
}
.orders-container.closed {
    width: 295px;
}
.orders-context {
    display: flex;
    justify-content: space-between;
}
.cart-icon {
    background-color: rgb(219, 239, 243);
    padding: 12px;
    height: 25px;
    border-radius: 5px;
}
.orders-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.orders-text p {
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
}
.orders-text h4 {
    padding-block: 20px;
    color: rgba(20, 24, 33, 0.75);
    font-size: 22px;
    font-weight: 600;
}
.orders-lastweek {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    padding-bottom: 5px;
}
.orders-lastweek h5 {
    font-size: 12px;
    color: rgb(255, 108, 108);
}
.orders-lastweek p {
    font-size: 16px;
    color: rgba(20, 24, 33, 0.75);
    letter-spacing: 0.5;
}







.Earning-container {
    border: 1px solid #438eff1a;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px;
    margin-top: 24px;
    transition: width 0.5s ease-in-out;
}
.Earning-container.open {
    width: 240px;
}
.Earning-container.closed {
    width: 295px;
}
.Earning-content {
    display: flex;
    justify-content: space-between;
}
.Earning-balance p {
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
}
.Earning-balance h4 {
    padding-block: 18px;
    color: rgba(20, 24, 33, 0.75);
    font-size: 22px;
    font-weight: 600;
}
.dollar-icon2 {
    background-color: rgb(253, 241, 219);
    padding: 12px;
    height: 25px;
    border-radius: 5px;
}
.lastweek-context2 {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.lastweek-context2 h5 {
    padding-right: 10px;
    color: rgb(45, 203, 115);
    font-size: 12px;
}
.lastweek-context2 p {
    font-size: 16px;
    color: rgba(20, 24, 33, 0.75);
    letter-spacing: 0.5;
}






.D-revenue {
    margin-left: 24px;
}
.dashboard-chart-container.open {
    width: 610px;
}
.dashboard-chart-container.closed {
    width: 695px;
}
.dashboard-chart-container {
    transition: width 0.5s ease-in-out;
}
.revenue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #438eff1a;
    border-left: 1px solid #438eff1a;
    border-right: 1px solid #438eff1a;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 20px;
}
.revenue-header h6 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
}

.revenue-header-btn {
    display: flex;
    gap: 8px;
}
.revenue-header-btn button {
    font-size: 12px;
    height: 30px;
    min-width: 40px;
    color: rgb(133, 97, 249);
    background-color: #f3effe;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.revenue-header-btn button.active {
    background-color: rgb(133, 97, 249);
    color: #fff;
}
.revenue-header-btn button:hover {
    background-color: #fff;
    color: rgb(133, 97, 249);
}

.orders-details {
    display: flex;
    text-align: center;
    background-color: rgb(249, 251, 252);
}
.orders-details-section-1 {
    display: flex;
    width: 50%;
}
.orders-details-section-2 {
    display: flex;
    width: 50%;
}
.revene-order {
    border: 1px solid rgba(67, 142, 255, 0.1);
    width: 50%;
    padding-block: 16px;
}
.revene-order h6 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.revene-order p {
    color: rgba(20, 24, 33, 0.75);
    font-size: 14px;
    font-weight: 500;
}
.revenue-earnings {
    border: 1px solid rgba(67, 142, 255, 0.1);
    width: 50%;
    padding-block: 16px;
}

.revenue-earnings h6 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.revenue-earnings p {
    color: rgba(20, 24, 33, 0.75);
    font-size: 14px;
    font-weight: 500;
}


.revenue-Refunds {
    border: 1px solid rgba(67, 142, 255, 0.1);
    width: 50%;
    padding-block: 16px;
}
.revenue-Refunds h6 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.revenue-Refunds p {
    color: rgba(20, 24, 33, 0.75);
    font-size: 14px;
    font-weight: 500;
}
.revenue-ratio {
    border: 1px solid rgba(67, 142, 255, 0.1);
    width: 50%;
    padding-block: 16px;
}
.revenue-ratio h6 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    color: rgb(45, 203, 115);
}
.revenue-ratio p {
    color: rgba(20, 24, 33, 0.75);
    font-size: 14px;
    font-weight: 500;
}




.dashboard-chart {
    padding-top: 20px;
    border-bottom: 1px solid #438eff1a;
    border-left: 1px solid #438eff1a;
    border-right: 1px solid #438eff1a;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.custom-line path {
    pointer-events: all;
    cursor: crosshair;
  }
  
.tooltip-month {
    background-color: #eceff1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid rgba(67, 142, 255, 0.1);
}

.tooltip-month p {
    font-size: 13px;
    padding-block: 8px;
    padding-left: 5px;
}

.tooltip-OER {
    background-color: #fff;
    margin-top: -1;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid rgba(67, 142, 255, 0.1);
}

.order-div {
    font-size: 12px;
    align-items: center;
    padding-block: 8px;
    padding-inline: 10px;
}

.order-div strong {
    margin-top: -20px;
}

.earning-div {
    font-size: 12px;
    padding-block: 8px;
    padding-inline: 10px;
}

.refund-div {
    font-size: 12px;
    padding-block: 8px;
    padding-inline: 10px;
}

.legand-context {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
}

.order-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}
.order-btn:hover {
    cursor: pointer;
}

.order-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}

.earning-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    padding-left: 10px;
}
.earning-btn:hover  {
    cursor: pointer;
}
.earning-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}

.refund-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    padding-left: 10px;
}
.refund-btn:hover {
    cursor: pointer;
}
.refund-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}







.sales-container {
    margin-top: 24px;
}
.upgrade-section1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.upgrade-benifits.open {
    width: 875px;
}
.upgrade-benifits.closed {
    width: 1017px;
}
.upgrade-benifits {
    transition: width 0.3s ease-in-out;
}
.upgrade-benifits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(219, 239, 243);
    padding: 20px;
    border-radius: 8px;
}

.upgrade-text h4 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}

.upgrade-text p {
    font-weight: 400;
    color: rgb(74, 176, 193);
    font-size: 13px;
    letter-spacing: 0.5;
}

.upgrade-container {
    display: flex;
    align-items: center;
    background-color: rgb(74, 176, 193);
    border-radius: 25px;
}
.upgrade-container:hover {
    cursor: pointer;
}
.upgrade-container p {
    color: #fff;
    padding-inline: 11px;
    font-size: 13px;
    font-weight: 500;
}

.dolar-upgrade {
    background-color: rgb(92, 184, 199);
    padding: 10px;
    border-radius: 50%;
}




.recent-order {
    margin-top: 24px;
}
.recent-order-container.open {
    width: 915px;
}
.recent-order-container.closed {
    width: 1057px;
}
.recent-order-container {
    transition: width 0.3s ease-in-out;
}

.recentorder-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(67, 142, 255, 0.1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.RO-header-text p {
    color: rgba(20, 24, 33, 0.75);
    font-size: 16px;
    font-weight: 500;
}
.RO-header-dropdown {
    display: flex;
    align-items: center;
}
.RC-input-container  {
    position: relative;
}
.RC-dropdown-selection {
    display: flex;
    align-items: center;
}
.sort-by h5 {
    font-size: 12px;
    font-weight: 600;
    color: rgba(20, 24, 33, 0.75);
    padding-right: 5px;
}
.RC-dropdown-selection:hover {
    cursor: pointer;
}
.RC-dropdown-selection input {
    border: none;
    outline: none;
    width: 75px;
}
.RC-dropdown {
    position: absolute;
    right: 20px;
    top: 35px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(67, 142, 255, 0.1);
    box-shadow: rgba(149, 149, 149, 0.14) 0px 8px 10px 1px, rgba(149, 149, 149, 0.14) 0px 8px 10px 1px, rgba(149, 149, 149, 0.14) 0px 8px 10px 1px;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
}
.RC-dropdown p {
    font-weight: 400;
    padding: 6px 10px;
    white-space: nowrap;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
.RC-dropdown p:hover {
    background-color: #f0f0f0;
}
.Dropdown-open {
    display: block;
}
.Dropdown-close {
    display: none ;
}




.customer-details-container {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding: 15px;
    font-size: 13px;
}

td {
    text-align: left;
    padding: 12px;
    font-size: 14px;
}

.customer-details-header {
    background-color: rgb(239, 242, 247);
}

.customer-details {
    color: rgba(20, 24, 33, 0.75);
    border: 1px solid rgba(67, 142, 255, 0.1);
    font-size: 13px;
}

.purchase-id {
    color: rgb(67, 142, 255);
    font-weight: 500;
    font-size: 14px;
}

.customer-name {
    display: flex;
    align-items: center;
}

.customer-image {
    width: 33px;
    border-radius: 50%;
    margin-right: 8px;
}

.order-status {
    text-align: center;
}

.order-status h5 {
    font-size: 11px;
    padding: 5px;
    padding-inline: 4px;
}

.status-paid {
    color: rgb(45, 203, 115);
    background-color: rgb(213, 245, 227);
    font-weight: bold;
    border-radius: 4px;
}

.status-unpaid {
    color: rgb(255, 108, 108);
    background-color: rgb(255, 226, 226);
    font-weight: bold;
    border-radius: 4px;
}

.status-pending {
    color: rgb(246, 183, 73);
    background-color: rgb(253, 241, 219);
    font-weight: bold;
    border-radius: 4px;
}

.recentorder-footer {
    border: 1px solid rgba(67, 142, 255, 0.1);
}





.product-selling {
    display: flex;
}

.best-selling {
    margin-top: 24px;
}
.best-selling-container.open {
    width: 590px;
}
.best-selling-container.closed {
    width: 690px;
}
.best-selling-container {
    transition: width 0.3s ease-in-out;
}

.bestselling-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}

.bestselling-header h4 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
}

.page-change-btn {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-block: 10px;
    margin-right: 5px;
}

.backward-btn {
    color: #007aff;
    cursor: pointer;
    border-radius: 4px;
}

.forward-btn {
    color: #007aff;
    cursor: pointer;
    border-radius: 4px;
}

.bestselling-items-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.9s ease-in-out;
}

.bestsell-item-div {
    margin-right: 16px;
}
.bestsell-item-div.open {
    width: 185.667px;
}
.bestsell-item-div.closed {
    width: 220px;
}

.bestselling-item {
    padding: 20px;
    border: 1px solid rgba(67, 142, 255, 0.1);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.bestselling-image-container {
    background: rgb(253, 241, 219);
    border-radius: 5px;
}


.bestsell-image.open {
    width: 150px;
}
.bestsell-image.closed {
    width: 175px;
}
.bestsell-details {
    padding-top: 16px;
}

.bestsell-PriceRating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.bestsell-price h4 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 18px;
    font-weight: 500;
}

.bestsell-ratings {
    display: flex;
    align-items: center;
    font-family: 15px;
    color: rgba(20, 24, 33, 0.75);
}

.bestsell-productname h5 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.product-delivery {
    margin-left: 24px;
    margin-top: 24px;
}

.product-delivery-container {
    border: 1px solid rgba(67, 142, 255, 0.1);
    border-radius: 6px;
    transition: width 0.3s ease-in-out;
}
.product-delivery-container.open {
    width: 300px;
}
.product-delivery-container.closed {
    width: 342px;
}

.product-delivery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(67, 142, 255, 0.1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 20px;
}

.product-delivery-header h5 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
}

.product-delivery-header p {
    display: flex;
    align-items: center;
    color: rgb(67, 142, 255);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.product-container {
    display: flex;
}
.product-items-container {
    height: 320px;
    overflow-y: auto;
    overflow-x: auto;
}

.product-items-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.product-items-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.product-delivery-details {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 300px;
    border: 1px solid rgba(67, 142, 255, 0.1);
    padding: 16px;
    border-radius: 6px;
    margin: 16px;
}

.product-image {
    width: 40px;
    height: 40px;
}

.product-image-container {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    background-color: rgb(239, 242, 247);
    border-radius: 4px;
    padding: 4px;
    margin-right: 8px;
}

.product-name-details h5 {
    font-size: 14px;
    font-weight: 600;
}

.product-name-details h6 {
    font-size: 14px;
    color: rgb(74, 176, 193);
    font-weight: 400;
}

.product-name-details h6 span {
    color: rgba(0, 0, 0, 0.87);
}

.product-status h5 {
    font-size: 11px;
    padding: 5px;
}

.status-shipping {
    color: rgb(45, 203, 115);
    background-color: rgb(213, 245, 227);
    font-weight: bold;
    border-radius: 4px;
}

.status-outofdelivery {
    color: rgb(255, 108, 108);
    background-color: rgb(255, 226, 226);
    font-weight: bold;
    border-radius: 4px;
}






.sales-stock {
    display: flex;
}

.sales-by-category {
    margin-top: 24px;
}
.sales-by-category-container.open {
    width: 280px;
}
.sales-by-category-container.closed {
    width: 330px;
}

.sales-by-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(67, 142, 255, 0.1);
    border-radius: 6px;
    transition: width 0.3s ease-in-out;
}

.sales-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(67, 142, 255, 0.1);
    width: 100%;
    padding-block: 20px;
}

.sales-category-header-name h5 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
}


.sales-category-dropdown-container {
    position: relative;
}
.sales-category-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sales-category-dropdown p {
    font-size: 13px;
    font-weight: 400;
}
.dropdown-icon-containeer {
    padding-top: 10px;
}
.sales-dropdown {
    position: absolute;
    top: 60px;
    left: -80px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(67, 142, 255, 0.1);
    box-shadow: rgba(149, 149, 149, 0.14) 0px 8px 10px 1px, rgba(149, 149, 149, 0.14) 0px 8px 10px 1px, rgba(149, 149, 149, 0.14) 0px 8px 10px 1px;
    border-radius: 3px;
    z-index: 1;
}
.sales-dropdown p {
    padding-block: 11px;
    padding-inline: 10px;
    font-size: 14px;
    color: #252424;
}  
.sales-dropdown p:hover {
   background-color: #f0f0f0;
   cursor: pointer;
}


.pie-chart-container.open {
    width: 300px;
    height: 300px;
}
  
.pie-chart-container.closed {
    width: 320px;
    height: 320px;
}
  


.pielegand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pielegand-context1 {
    display: flex;
}

.fashion-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}
.fashion-btn:hover {
    cursor: pointer;
}
.fashion-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}

.electronics-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}
.electronics-btn:hover {
    cursor: pointer;
}
.electronics-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}

.pielegand-context2 {
    display: flex;
}

.groceries-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}
.groceries-btn:hover {
    cursor: pointer;
}
.groceries-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}

.others-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}
.others-btn:hover {
    cursor: pointer;
}
.others-btn p {
    color: rgba(20, 24, 33, 0.75);
    margin-left: -5px;
    font-size: 12px;
}






.stockreport {
    margin-left: 24px;
    margin-top: 24px;
}

.stockreport-container {
    transition: width 0.3s ease-in-out;
}
.stockreport-container.open {
    width: 610px;
}
.stockreport-container.closed {
    width: 703px;
}
.stockreport-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(67, 142, 255, 0.1);
    padding: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}

.stockreport-heading h5 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(20, 24, 33, 0.75);
}

.generate-report {
    display: flex;
    align-items: center;
    background-color: rgb(219, 239, 243);
    padding: 5px;
    border-radius: 4px;
    color: rgb(74, 176, 193);
    cursor: pointer;
}
.generate-report:hover {
    background-color: rgb(74, 176, 193);
    color: #fff;
}

.generate-report h5 {
    padding-left: 6px;
    font-size: 14px;
    font-weight: 500;
}

.stockreport-product-detail-container {
    overflow-x: auto;
    border: 1px solid rgba(67, 142, 255, 0.1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.stockreport-product-details {
    width: 830px;
}

.stockreport-product-header {
    background-color: rgb(239, 242, 247);
}

.SR-product-id {
    color: rgb(67, 142, 255);
    font-weight: 400;
    font-size: 14px;
}

.SR-product-image {
    width: 35px;
}

.SR-product-name {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
}

.SR-product-date {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.SR-product-price {
    color: rgb(133, 97, 249);
    font-size: 14px;
}

.stock-status {
    text-align: center;
}

.stock-status h5 {
    font-size: 12px;
    padding: 3px;

}

.SR-product-qty {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

.stockstatus-paid {
    color: rgb(45, 203, 115);
    background-color: rgb(213, 245, 227);
    font-weight: bold;
    border-radius: 4px;
}

.stockstatus-unpaid {
    color: rgb(255, 108, 108);
    background-color: rgb(255, 226, 226);
    font-weight: bold;
    border-radius: 4px;
}

.stockstatus-pending {
    color: rgb(246, 183, 73);
    background-color: rgb(253, 241, 219);
    font-weight: bold;
    border-radius: 4px;
}





.saleslocation {
    margin-top: 24px;
}

.saleslocation-container {
    transition: width 0.3s ease-in-out;
    border: 1px solid rgba(67, 142, 255, 0.1);
    border-radius: 6px;
}
.saleslocation-container.open {
    width: 914px;
}
.saleslocation-container.closed {
    width: 1057px;
}

.saleslocation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(67, 142, 255, 0.1);
}

.saleslocation-header h5 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
}

.export-report-btn {
    color: rgb(67, 142, 255);
    background-color: rgb(236, 243, 255);
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.export-report-btn:hover {
    background-color: rgb(67, 142, 255);
    color: #fff;
} 

.map-userstatistics-container {
    display: flex;
}

.location img {
    width: 600px;
    height: 400px;
}

.statistics-detail-container {
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 20px;
    width: 100%;
}

.satistics-header h6 {
    color: rgba(20, 24, 33, 0.75);
    font-size: 12px;
    letter-spacing: 0.5;
    font-weight: 500;
    margin-bottom: 15px;
}

.satistics-header h4 {
    font-size: 22px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
    margin-top: 0px;
    margin-bottom: 25px;
}

.satistics-header h4 span {
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
    font-weight: 400;
}

.satitistic-bardetail-container p {
    margin-bottom: 5px;
    font-weight: 500;
    color: rgba(20, 24, 33, 0.75);
    font-size: 13px;
    letter-spacing: 0.5;
}

.progress-bar-container {
    display: flex;
    width: 100%;
    height: 9px;
    border-radius: 25px;
    overflow: hidden;
    background-color: #e5e7eb;
    margin-bottom: 20px;
}
.progress-bar-segment {
    height: 100%;
}
.country-detail {
    display: flex;
    margin-block: 8px;
}
.country-name {
    color: rgba(20, 24, 33, 0.75);
}
.country-percent {
    color: rgba(20, 24, 33, 0.75);
    margin-left: auto;
}





.footer {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(67, 142, 255, 0.1);
    margin-top: 20px;
    z-index: 100;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
    z-index: 1000;
}
.footer-container p {
    color: rgba(20, 24, 33, 0.75);
    font-size: 13px;
    font-weight: 400;
}



.recent-chat {
    margin-left: 24px;
    padding-top: 12px;
    position: relative;
}
.recent-chat-container {
    position: fixed;
    bottom: 20px;
    right: 24px;
    top: 60px;
    height: 91vh; 
    overflow-y: auto;
    border: 1px solid rgba(67, 142, 255, 0.1);
    transition: bottom 0.3s ease-in-out;
}
.recent-chat-container.open {
    width: 290px;
}
.recent-chat-container.closed {
    width: 330px;
}
.recent-chat-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.recent-chat-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.recent-chat-heading h5 {
    font-weight: 500;
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
    padding-block: 15px;
    padding-left: 20px;
}
.RC-profile-image {
    width: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.RC-profile-name {
    color: rgba(20, 24, 33, 0.75);
    font-size: 14px;
}
.chat-profile {
    display: flex;
    gap: 15px;
    padding-left: 20px;
    overflow-x: scroll;
}
.chat-profile::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.profile-container {
    position: relative;
    display: inline-block;
}

.online-status {
    position: absolute;
    bottom: 13px;
    right: 1px;
    width: 8px;
    height: 8px;
    background-color: rgb(68, 183, 0);
    border-radius: 50%;
    border: 2px solid white;
    animation: blink-animation 1.5s infinite;
}
@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.RC-search-bar {
    display: flex;
    align-items: center;
    border: 1px solid rgba(67, 142, 255, 0.1);
   padding-block: 8px;
   border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.RC-search {
    border: none;
    letter-spacing: 0.5;
}
.RC-search-bar input {
    outline: none;
    font-size: 15px;
    padding: 5px;
}





.list-of-chat{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-block: 13px;
    border-bottom: 1px solid rgba(67, 142, 255, 0.1);
}
.outer-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.chat-profile-container{
    position: relative;
    display: inline-block;
}
.chat-profile-image {
    width: 32px;
    border-radius: 50%;
}
.online-chat-status {
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: 8px;
    height: 8px;
    background-color: rgb(68, 183, 0);
    border-radius: 50%;
    border: 2px solid white;
    animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
.chat-message-content {
    margin-left: 10px;
}
.message-style {
    color: rgb(74, 176, 193);
    font-size: 13px;
}
.chat-message-content h6 {
    font-size: 14px;
    font-weight: 600;
    color: rgba(2, 3, 4, 0.75);
    padding-bottom: 7px;
}
.message-normal {
    font-size: 13px;
    color: rgba(20, 24, 33, 0.75);
}
.chat-time-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.chat-time-content p {
    font-size: 12px;
    font-weight: 400;
    color: rgba(20, 24, 33, 0.75);
    padding-right: 5px;
}
.unread-counts {
    color: rgb(74, 176, 193);
    background-color: rgb(219, 239, 243);
    padding: 2px;
    border-radius: 50%;
    margin-left: auto;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 12px;
    margin-right: 8px;
    margin-top: 5px;
}



.chat-section {
    position: absolute;
    top: 65;
    right: 24;
    background-color: #fff;
    height: 91vh;
    z-index: 1;
    position: fixed;
    overflow-y: scroll;
    padding-inline: 10px;
}
.chat-section.open {
    width: 270px;
}
.chat-section.closed {
    width: 305px;
}
.chat-section::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.chat-section::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(67, 142, 255, 0.1);
}
.online-status-chat {
    position: relative;
    bottom: -10px;
    right: 8px;
    width: 8px;
    height: 8px;
    background-color: rgb(68, 183, 0);
    border-radius: 50%;
    border: 2px solid white;
    animation: blink-animation 1.5s infinite;
    z-index: 100;
}
@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
.chat-header-image-section {
    display: flex;
    align-items: center;
}
.chat-header-image {
    width: 30px;
    border-radius: 50%;
}
.chat-header-image-section h6 {
    font-size: 13px;
    padding-left: 10px;
    font-weight: 600;
    letter-spacing: 0.5;
    color: rgba(20, 24, 33, 0.75);
}
.exit-icon-content {
    display: flex;
    align-items: center;
}
.exit-icon-content {
    cursor: pointer;
}
.chat-menu-section {
    position: absolute;
    top: 60;
    right: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(67, 142, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    border-radius: 3px;
}
.archive-section {
    display: flex;
    align-items: center;
    padding: 8px 50px 8px 10px;
    color: rgba(0, 0, 0, 0.54);
}
.archive-section:hover {
    background-color: #f0f0f0;
}
.archive-section p {
    font-size: 15px;
    margin-left: 8px;
}
.share-section {
    display: flex;
    align-items: center;
    padding: 8px 50px 8px 10px;
    color: rgba(0, 0, 0, 0.54);
}
.share-section:hover {
    background-color: #f0f0f0;
}
.share-section p {
    font-size: 15px;
    margin-left: 8px;
}
.delete-section {
    display: flex;
    align-items: center;
    padding: 8px 50px 8px 10px;
    color: rgba(0, 0, 0, 0.54);
}
.delete-section:hover {
    background-color: #f0f0f0;
}
.delete-section p {
    font-size: 15px;
    margin-left: 8px;
}




.chat-detail1 {
    display: flex;
    align-items: center;
    padding-block: 10px;
}   
.msg-received {
    max-width: 200px;
    font-size: 13px;
    background-color: rgb(239, 242, 247);
    box-shadow: rgba(135, 138, 153, 0.1) 0px 5px 20px -6px;
    padding: 12px 20px;
    border-radius: 12px 12px 12px 0px;
    font-weight: 400;
    letter-spacing: 0.5;
    line-height: 1.5;
}
.msg-send {
    max-width: 200px;
    font-size: 13px;
    background-color: rgb(67, 142, 255);
    color: rgb(255, 255, 255);
    box-shadow: rgba(135, 138, 153, 0.1) 0px 5px 20px -6px;
    padding: 12px 20px;
    border-radius: 12px 12px 0px 12px;
    font-weight: 400;
    letter-spacing: 0.5;
    line-height: 1.5;
}
.msg {
    cursor: pointer;
}
.chat-sender-msg1 {
    display: flex;
    flex-direction: column;
}
.chat-detail1.msg-received-container {
    justify-content: flex-start;
}
.chat-detail1.msg-send-container {
    justify-content: flex-end;
}
.chat-sender-msg1 p {
    font-size: 12px;
    margin-top: 12px;
}

.chat-time-content-received {
    display: flex;
    flex-direction: row;
}
.chat-time-content-send {
    text-align: right;
    font-size: 12px;
    display: flex;
    justify-content: end;
}

.seen-status {
    margin-top: 10px;
}

.chat-sender-image {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


.send-message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
}
.send-message-imput-section {
    border: 1px solid rgba(67, 142, 255, 0.1);
}
.send-message-imput-section input {
    border: none;
    outline: none;
    padding: 12px;
    font-size: 14px;
} 
.send-message-imput-section input ::placeholder {
    letter-spacing: 0.5;
}
.message-send-btn {
    background-color: rgb(67, 142, 255);
    padding: 8px;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .recent-chat-container {
        bottom: 80px; 
    }
}


@media (max-width : 920px) {

    .dashboard {
        margin-inline: 24px;
    }
    .dashboard-section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .product-selling {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .RO-MS-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sales-stock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dashboard-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recent-chat-container {
        position: static;
    }
    .Header-main-content {
        margin-left: 0;
    }





    .outlet-container.open {
        margin-left: 0px;
    }
    .outlet-container.closed {
        margin-left: 0px;
    }
    .totalearnings-container.open {
        width: 88vw;
    }
    .Menuicon {
        display: none;
    }
    .orders-container.open {
        width: 88vw;
    }
    .Earning-container.open {
        width: 88vw;
    }


    .D-revenue {
        margin-top: 24px;
        margin-left: 0px;
    }
    .orders-details {
        display: flex;
        flex-direction: column;
    }
    .orders-details-section-1 {
        display: flex;
        width: 100%;
    }
    .orders-details-section-2 {
        display: flex;
        width: 100%;
    }

    .dashboard-chart-container.open {
        width: 93vw;
    } 


    .upgrade-benifits.open {
        width: 89vw;
    } 


    .recent-order-container.open {
        width: 93vw;
    } 
    .customer-details-tabel-container {
        overflow-x: auto;
    }
    .best-selling-container.open {
        width: 90vw;
    } 
    .bestsell-item-div.open {
        width: 30vw;
    }
    .bestsell-image.open {
        width: 25vw;
    }


    .product-delivery {
        margin-left: 0px;
    }
    .product-delivery-container.open {
        width: 93vw;
    }
    .product-delivery-details {
        width: 88vw;
        justify-content: space-between;
    }
    .product-items-container {
       width: 100%;
    }



    .sales-by-category-container.open {
        width: 93vw;
    }
    .sales-category-header {
        width: 100%;
    }
    .pielegand-container {
        flex-direction: row;
        gap: 5px;
    }


    .stockreport {
        margin-left: 0px;
    }
    .stockreport-container.open {
        width: 93vw;
    }

    .saleslocation-container.open {
        width: 93vw;
    }
    .map-userstatistics-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .statistics-detail-container {
        margin-left: 0px;
        margin-top: 24px;
        margin-right: 0px;
        width: 90vw;
    }

    .recent-chat {
        margin-left: 0px;
    }
    .recent-chat-container.open {
        width: 93vw;
    }
    .chat-profile {
        gap: 25px;
    }
    .chat-section {
        left: 24;
        height: 100%;
    }
    .chat-section.open {
        width: 93vw;
    }
    .chat-section {
        top: 65;
        right: 0;
        height: 100vh;
    }
}

@media (max-width : 500px) {

    .totalearnings-container.open {
        width: 80vw;
    }
    .orders-container.open {
        width: 80vw;
    }
    .Earning-container.open {
        width: 80vw;
    }
    .revenue-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .revenue-header h6 {
        padding-bottom: 10px;
    }

    .dashboard-chart-container.open {
        width: 88vw;
    } 

    .upgrade-benifits {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .upgrade-section1 {
        width: 100%;
    }
    .upgrade-benifits.open {
        width: 78vw;
    } 
    .customer-details-container {
        overflow-x: auto;
    }



    .recent-order-container.open {
        width:88vw;
    } 
    .RO-header-text p {
        font-weight: 600;
        padding-bottom: 10px;
    }
    .recentorder-header {
        display: flex;
        flex-direction: column;
    }
    

    .best-selling-container.open {
        width: 90vw;
    } 
    .bestsell-item-div.open {
        width: 45vw;
    }
    .bestsell-image.open {
        width: 35vw;
    }


    .product-delivery-container.open {
        width: 90vw;
    }
    .product-delivery-header h5 {
        font-weight: 600;
    }
    .product-delivery-details {
        width: 75vw;
    }


    .sales-by-category-container.open {
        width: 88vw;
    }
    .sales-category-header-name h5 {
        font-weight: 600;
    }
    .pielegand-container {
        display: flex;
        flex-direction: column;
    }


    .stockreport-container.open {
        width: 88vw;
    }
    .stockreport-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .stockreport-heading {
        padding-bottom: 15px;
    }


    .saleslocation-container.open {
        width: 89vw;
    }
    .saleslocation-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .saleslocation-header h5 {
        font-weight: 600;
        padding-bottom: 15px;
    }
    .location img {
        width: 87vw;
        height: 60vw;
    }
    .statistics-detail-container {
        width: 86vw;
    }


    .recent-chat-container.open {
        width: 90vw;
    }
    .recent-chat-heading h5 {
        font-weight: 600;
    }
    .chat-container {
        padding-left: 10px;
    }
    .chat-section.open {
        width: 86vw;
    }
    .chat-section {
        top: 65;
        right: 0;
        height: 92vh;
    }
}