* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    background-color: #fff;
    border-Right: 1px solid rgb(210, 209, 209) ;
    z-index: 1; 
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    display: none;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
}

.Header-main-content {
    transition: all 0.5s;
}
.Header-main-content.open {
    margin-left: 240px;
}
.Header-main-content.closed {
    margin-left: 60px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(210, 209, 209);
    border-left: 1px solid rgb(210, 209, 209);
    transition: all 0.5s;
    padding-inline: 24px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 2; 
}
.header-container.open {
    left: 240px;
}
.header-container.closed {
    left: 60px;
}




.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
    background-color: #fff;
    position: fixed;
}

.sidebar-content {
    padding-top: 60px;
}
.logo {
    font-size: 30px;
}

.menu-bar {
    display: flex;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}
.menu-bar:hover {
    background-color: rgb(232, 233, 233);
    border-radius: 25px;
}
.Menuicon.open {
    display: block;
}
.Menuicon.closed {
    display: none;
}
.Navigationicon.open {
    display: none;
}
.Navigationicon.closed {
    display: block;
}
.tab-nav-icon {
    display: none;
}
.tabel-nav-btn {
    display: none;
}
.header-search-icon:hover {
    cursor: pointer;
}


.menu-header {
    font-size: 12px;
    padding-left: 15px;
    padding-block: 10px;
    color: rgb(109, 112, 128);
}

.link {
    display: flex;
    align-items: center;
    color: rgb(109, 112, 128);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: rgb(245, 245, 245);
    color: #438eff;
    transition: all 0.5s;
}
.icon {
    color: rgb(169, 169, 169);
}
.icon:hover {
    color: #438eff;
}

.icon,
.link_text {
    font-size: 20px;
}
.Header-main-content {
    width: 100%;
}



.open-searchbar {
    display: flex;
}
.close-searchbar {
    display: none;
}
.header-search-bar-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 30;
}
.hearder-search-bar {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    padding: 13px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-search-exit-btn {
    padding: 10px;
    padding-right: 5px;
}
.header-search-icon {
    display: flex;
    align-items: center;
}
.header-search-icon p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}
.header-search-exit-btn:hover {
    cursor: pointer;
}


.search-container{
    display: flex;
    align-items: center;
}
.headeer-section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}




.profile-section1 {
    display: flex;
    align-items: center;
    background-color: #ecf3ff;
    padding-inline: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.profile-image {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-section1-context1 h5 {
    margin: 0%;
    font-size: 13px;
    padding-bottom: 10px;
    color: rgb(104, 103, 103);
}
.profile-section1-context1 p {
    margin: 0%;
    font-size: 13px;
    color: rgb(104, 103, 103);
}
.profile-content1 h3 {
    margin: 0%;
    font-size: 13px;
    padding-bottom: 10px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile p {
    margin: 0%;
    padding-left: 5px;
    font-size: 13px;
    padding-block: 7px;
    letter-spacing: 0.5px;
}
.Balance {
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdcdc;
}
.Balance p {
    margin: 0%;
    padding-left: 5px;
    font-size: 13px;
    padding-block: 7px;
}
.Balance p span {
    font-size: 14px;
    font-weight: bold;
}



.notification-container {
    width: 300px;
}
.notifi-header h4{
    margin: 0%;
    padding-top: 5px;
    font-size: 15px;
}
.notifi-header p {
    margin: 0%;
    font-size: 13px;
    color: #8b8d90;
}

.total-notification-items {
    height: 250px;
    overflow-y: scroll;
}
.total-notification-items::-webkit-scrollbar {
    width: 2px;
  }
.total-notification-items::-webkit-scrollbar-track {
    border-radius: 10px;
}
.total-notification-items::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
.new h4 {
    font-size: 15px;
    padding-block: 15px;
}
.notification-items{
    background-color: #f5f5f5;
}
.notification-item1 {
    display: flex;
    align-items: center;
}
.notifi-content1{
    display: flex;
    align-items: center;
}
.notifi-content1-text {
    margin-left: 20px;
}
.notifi-content1-text h4 {
    margin: 0%;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 2px;
}
.text-1{
    font-size: 13px;
    margin: 0%;
    padding-bottom: 10px;
}
.text-2 {
    font-size: 16px;
}
.notifi-content1-text h5 {
    margin: 0%;
    font-size: 13px;
    padding-bottom: 10px;
}
.text-2 {
    display: flex;
    font-size: 10px;
    align-items: center;
    margin: 0%;
    font-size: 11px;
}

.notification-items-2 h3 {
    margin: 0%;
    padding-top: 10px;
    font-size: 14px;
}


.dark-mode {
    position: relative;
}
.dark-mode-container {
    position: absolute;
    top: 50px;
    left: -30px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(67, 142, 255, 0.1);
    box-shadow: rgba(149, 149, 149, 0.14) 0px 8px 10px 1px, rgba(149, 149, 149, 0.14) 0px 8px 10px 1px, rgba(149, 149, 149, 0.14) 0px 8px 10px 1px;
    border-radius: 4px;
    z-index: 1;
    padding: 10px;
}
.default-light-mode {
    display: flex;
    align-items: center;
    padding-block: 6px;
}
.default-light-mode:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
.default-light-mode p {
    font-size: 14px;
    color: rgba(20, 24, 33, 0.75);
    padding-left: 10px;
}

.dark-mode {
    display: flex;
    align-items: center;
    padding-block: 6px;
}
.dark-mode:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
.dark-mode p {
    font-size: 14px;
    color: rgba(20, 24, 33, 0.75);
    padding-left: 10px;
}

.auto-light-mode {
    display: flex;
    align-items: center;
    padding-block: 6px;
}
.auto-light-mode:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
.auto-light-mode p {
    font-size: 14px;
    color: rgba(20, 24, 33, 0.75);
    padding-left: 10px;
}
.show-darklist {
    display: block;
}
.hide-darklist {
    display: none;
}



.shopping-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}
.shoppingitems{
    padding-block: 10px;
}
.shopping-header h3 {
    margin: 0%;
    font-size: 15px;
    color: grey;
}
.shopping-header p {
    font-size: 13px;
    color: #f6b943;
    background-color: #fdf1db;
    padding-inline: 10px;
    border-radius: 10px;
}
.bag-container{
    display: flex;
    justify-content: space-between;
}
.bag-section1 {
    display: flex;
    align-items: center;
    padding-block: 5px;
}
.bag-image {
    width: 40px;
    height: 40px;
}
.bag-section1-text {
    margin-left: 20px;
}
.bag-section1-text h4 {
    font-size: 13px;
    padding-block: 6px;
    font-weight: 400;
}
.bag-section1-text p{
    font-size: 13px;
    color: rgb(122, 121, 121);
}
.bag-section2 {
    display: flex;
    align-items: center;
}
.price {
    margin-right: 10px;
    font-size: 18px;
}
.total-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    border-top: 1px solid rgb(216, 214, 214);
}
.total-price h3 {
    margin: 0%;
}
.checkout {
    text-align: center;
    background-color: #2dcb73;
}
.checkout h3 {
    margin: 0%;
    padding-block: 8px;
    color: #fff;
    font-size: 15px;
}


.widgtes-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    padding-block: 10px;
}
.widgtes-section1 p {
    background-color: #d4f0f6;
    padding: 5px;
    color: #4ab0c1;
    font-size: 13px;
    letter-spacing: 1px;
    padding-inline: 20px;
}
.widgtes-section1 h2 {
    font-size: 15px;
    color: rgb(107, 107, 107);
}
.widgtes-container {
    width: 350px;
    z-index: 100;
}
.browser-content1 {
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
}
.browse-name{
    font-family: 10px;
}
.git {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.git p {
    font-size: 14px;
    color: grey;
    padding-block: 8px;
}
.git img {
    width: 25px;
}
.bitbucket p {
    font-size: 14px;
    color: grey;
    padding-block: 8px;
}
.bitbucket {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bitbucket img {
    width: 20px
}
.drib p{
    font-size: 14px;
    color: grey;
    padding-block: 8px;
}
.drib {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drib img {
    width: 20px;
}



@media (max-width : 920px) {

    .Header-main-content.open {
        margin-left: 0px;
    }
    .Header-main-content.closed {
        margin-left: 0px;
    }
    .header-container.open {
        left: 0px;
    }
    .header-container.closed {
        left: 0px;
    }

    .sidebar {
        top: 70;
        transition: all 0.5s;
    }
    .sidebar-open {
        display: block;
    }
    .sidebar-closed {
        display: none;
    }
    .menu-bar {
        display: none;
    }
    .tabel-nav-btn {
        display: block;
    }

}





@media (max-width : 500px) {
    .header-search-icon p {
        display: none;
    }
    .full-screen {
        display: none;
    }
    .profile-section1-context1 h5 {
        display: none;
    }
    .profile-section1-context1 p {
        display: none;
    }
}
